{% extends 'booking/bases.html' %}
{%block body%}
    <h1 style="text-align:center;font-family:sans-seriff">Current Reservations</h1>

        {%csrf_token%}
    <div class="container">
    {% for i in res %}
        <div class="tick" style="font-size:13px;color:white;padding:18px;padding-left:40px;">

            &nbsp&nbspDate       :{{i.date}}<br/>
            &nbsp&nbspTrain no   :{{i.train_no}}<br/>
            &nbsp&nbspPNR        :{{i.pessanger_record}}<br/>
            &nbsp&nbspSrc        :{{i.start_station}}<br/>
            &nbsp&nbspDes        :{{i.end_station}}<br/>
                            <button class="btn btn-danger" value="{{i.pessanger_record}}" style="float:right;border-radius:50%;" onclick="y(this.value)"type="submit">Cancel</button><br/>
        </div>
            <br/><br/>
        {%endfor%}

</div>

     <script>
{%endblock%}