{% extends 'booking/bases.html' %}

{% block body %}
    <h2 style="text-align:center;"><span class="sty" style="font-size:50px;color:black;">Search Trains </span></h2>
    <br/><br/>
    <br/><br/>
    <form class="form-inline" style="margin-left:200px;"action="trains" method="POST">
        {% csrf_token %}
        <span class="sty" style="font-size:30px;color:black;">Start Station:</span><select name="start_station">
            {% for i in station %}
            <option value="{{i.station_id}}">{{i.station_name}}</option>
            {%endfor%}
        </select>
        <span class="sty" style="font-size:30px;color:black;">End Station:</span>
        <select name="end_station">
            {% for i in station %}
            <option value="{{i.station_id}}">{{i.station_name}}</option>
            {%endfor%}
        </select>
        &nbsp
        <input class="btn btn-success" type="submit" value="Search">
    </form>
{% endblock%}